:root {
  --primary-color: #dc3545;
  --secondary-color: rgb(119, 119, 119) 29;
  --dark-color: #212529;
  --light-color: #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

span {
  color: var(--primary-color);
}

/* navbar */

.navbar-brand {
  font-weight: 700;
  transition: ease 0.5s;
}

.nav-link {
  font-weight: 500;
  opacity: 0.4;
  margin: 0 5px;
  transition: all 0.5s ease;
}

.nav-link:hover {
  color: var(--primary-color) !important;
  border-bottom-color: var(--light-color);
}

.nav-link.active {
  opacity: 1;
  font-weight: 700;
  color: white !important;
}

/* Akhir navbar */
section {
  padding: 80px 0;
  min-height: 100vh;
}
/* untuk membedakan warna secara teratur even untuk genap odd untuk ganjil  */
section:nth-child(even) {
  background-color: #f7f7f7;
}

.hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.482), rgba(0, 0, 0, 0.827)), url("image/image.png");
  min-height: 50vh;
  background-size: cover;
  display: flex;
  color: #ffffff;
}

.hero-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border: 5px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/* fasilitas */
.fasilitas {
  background-color: rgb(255, 255, 255);
}
.fasilitas-icon {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
/* fasilitas */
.card-title {
  min-width: 200px;
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-color);
}
/* tombol */
.btn {
  font-weight: 800;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: 500;
  transition: scale 0.5 ease;
}

.btn-primary:hover {
  background-color: transparent;
  font-weight: 600;
  color: var(--primary-color);
  border-width: 2px;
  border-color: var(--primary-color);
  scale: 5px;
}

.btn-hero {
  color: var(--light-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  font-weight: 500;
  transition: transform 1s ease;
}

.btn-hero:hover {
  background-color: transparent;
  font-weight: 600;
  color: var(--light-color);
  border-width: 2px;
  border-color: var(--light-color);
  transform: translateY(-3px);
  box-shadow: 0 0 2rem rgba(255, 255, 255, 0.312);
}

/* tombol */

.card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  border: none;
  padding-top: 4rem;
  padding: 3rem;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}

footer {
  background-color: var(--dark-color);
}
